<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/style.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BiciBici!</title>
</head>
<body>
    <div id="navbar">
        <header>
            <img src = 'images/logo-mercado-liebre.svg'alt="asd"/>
            <input type="search" placeholder="buscar en mercadoLiebre">
            <span>compra en cuotas y sion tarjeta de credito</span>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Virtuales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Aiuuuda</a></li>
                <br>
                <li><a href="#">Crea tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Tus Compras</a></li>
            </ul>
        </header>
        <main>
            <section id="ultimavisita">
                <h1>Basado en tu ultima visita</h1>
                <article>
                    <img src = 'images/img-cafetera-moulinex.jpg'alt="asd"/>
                    <p>$6.770</p>
                    <p>40% off</p>
                    <p><b>Cafetera Mouliunx</b></p>
                </article>
                <article>
                    <img src = 'images/img-macbook-pro-2019.jpg'alt="asd"/>
                    <p>$230.000</p>
                    <p>20% off</p>
                    <p><b>Macbook Pro 2019</b></p>
                </article>
                <article>
                    <img src = 'images/img-samsung-galaxy-s10.jpg'alt="asd"/>
                    <p>$6.770</p>
                    <p>40% off</p>
                    <p><b>Celular...</b></p>
                </article>
            </section>
            <section id="ofertas">
                <article>
                    <title>Seccion de ofertas</title>
                    <img src = 'images/img-cafetera-moulinex.jpg'alt="asd"/>
                    <p>$6.770</p>
                    <p>40% off</p>
                    <p><b>Cafetera Mouliunx</b></p>
                </article>
            </section>
        </main>
        <footer>
            <section>
                <p><b>Paga con tarjeta o en efectivo</b> </p><br>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
            </section>
            <section>
                <p><b>Envio gratis desde $2500</b> </p><br>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </section>
            <section>
                <p><b>Seguridad de Principio a fin</b> </p><br>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </section>
            <section>
                <p><b>Copyright © 1999-2020 MercadoLiebre S.R.L.</b> </p><br>
            </section>
        </footer>    
    </div>
</body>
</html>